.slide-container {
    .slide-content {
        display: flex;
        flex-direction: column;
        width: fit-content !important;  
        // margin: 0 .5rem;  
        cursor: pointer;
    }
    .slide-img {
        width: 340px;
        height: 430px;
        margin-bottom: 1rem;
    }
    .slide-name {
        font-size: .9rem;
        color: var(--dark-grey);
        font-weight: 100;
        margin: 0;
    }
    .slide-price {
        font-size: 1.2rem;
        font-weight: 200;
    }
}